<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
<body>
  <h1>About Workout Motivation</h1>
  <p>
    This APP for the people who are looking for fitness experts.<br>
    You can find workout menus with videos and high nutriated recipes.
  </p>
  </body>
</html>
