<div class="center jumbotron">
<h1>Welcome to the Workout Motivation APP</h1>

<h2>
  This is the APP to support your fitness life better.
</h2>

<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
